head
  meta(charset='utf-8')
  title Ordens de Serviço
  link(rel='stylesheet', href='style.css')
  link(rel="shortcut icon" href="ico.png")
  //- script(src="script.js")
body(onload=`armazenaAutenticacao('${colaborador.matricula}','${colaborador.pin}')`)
  header
    h1 Ordens de Serviço 